<h2> NUESTRA COLECCION </h2>
<div class="contain-products">

    <div class="product" ng-repeat="product in vm.datos">
        <img ng-src="{{product.image}}" alt="producto">
        <div class="info-product">
            <div class="title"> {{product.name}}</div>
            <div class="price"> {{product.price | currency}}</div>
            <div class="buttons"> <span> [ ver mas ]</span><span>
                <input type="number" placeholder="Cantidad" ng-model="product.quantity">
                <button class="btn btn-xs" ng-click="vm.addProduct(product)">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </button> </span></div>
        </div>
        <div class="more-info">
            <div class="description"> {{product.descripcion}}</div>
            <div class="tallas"> {{product.tallas}}</div>
        </div>
    </div>

    <script type="text/ng-template" id="productoTemplate.html">
        alg
        <div class="form-group">
            <label>Popup Title:</label>
        </div>
    </script>
</div>