<h2> NUESTRA COLECCION </h2>
<div class="contain-products" ng-controller="productController as productCtrl">

	<div class="product" ng-repeat="data in productCtrl.datos">
		<img ng-src="{{data.imagen}}" alt="producto">
		<div class="info-product">
			<div class="title"> {{data.nombre}}</div>
			<div class="price"> {{data.precio}}</div>
			<div class="buttons"> <span> [ ver mas ]   [ carrito ] </span></div>
		</div>
		<div class="more-info">
			<div class="description"> {{data.descripcion}}</div>
			<div class="tallas"> {{data.tallas}}</div>
		</div>
	</div>
</div>
