<div class="container">

    <div class="panel panel-primary">
        <ul class="list-unstyled panel-body" ng-repeat="product in vm.products">
            <li><img ng-src="{{product.image}}" width="8%" height="15%"> {{product.name}} -- {{product.quantity}}</li>
        </ul>
    </div>


    <form ng-submit="vm.sendEmail(vm.user)">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" required ng-model="vm.user.to_name" id="Email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="Nombres">Nombres</label>
            <input type="text" class="form-control" required ng-model="vm.user.nombres" id="Nombres" placeholder="Nombres">
        </div>
        <div class="form-group">
            <label for="Apellidos">Apellidos</label>
            <input type="text" id="Apellidos" required class="form-control" ng-model="vm.user.apellidos" placeholder="Apellidos">
        </div>
        <div class="form-group">
            <label for="Pais">Pais</label>
            <input type="text" id="Pais" class="form-control" placeholder="Pais">
        </div>
        <div class="form-group">
            <label for="Ciudad">Ciudad</label>
            <input type="text" id="Ciudad" class="form-control" placeholder="Ciudad">
        </div>
        <div class="form-group">
            <label for="Direccion">Dirección</label>
            <input type="text" id="Direccion" required ng-model="vm.user.direccion" class="form-control" placeholder="Direccion">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>